body{
    margin:0;
    padding:0;
    background-image: url("./Images/BG1.gif");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar .nav-link {
  color: #fff !important;
}
#col2{
  padding-top:7.5%;
  padding-left: 5%;
}
.card{
  margin:10px;
  background: transparent !important;
}
#characters{
  overflow-x:scroll;
}  
#characters::-webkit-scrollbar{
  display: none;
}
.card-text{
  font-size:15px;
}
.images{
  margin: 10px;
  width: 28vw;
}
.card-title{
  color:white;
  font-size: 18px;
} 
.a{
  margin:10px 25px; 
}
.thumbnail{
  height:18vh;
}
@media (max-width:992px){
  #col2{
    padding-left:1%;
  }
}
@media (max-width:813px){
  .card{
    width:40vw !important;
    margin:10px 2vw !important;
  }
}
@media(max-width: 769px){
  .navbar{
    background-color: rgba(0, 0, 0, 0.61);
    text-align: center;
    justify-content: center;
  }
  #icons{
    justify-content: center;
  }
} 
@media (max-width:650px){
  #stream{
    margin:10px 15px !important;
  }
}

  